@font-face {
    font-family: 'RubikOne';
    src: url(./assets/font/RubikOne-Regular.ttf);
}


:root {
    --hotpink: #FF007F;
    --blue: #5BD7E8;
    --purple: #9E04C5;
    --violet: #4700FF;
    --rubik-one: 'RubikOne', sans-serif;
    --kanit: "Kanit", sans-serif;
}

h1 {
    font-family: var(--rubik-one);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img {
    margin-bottom: 0px !important;
}

.row {
    --bs-gutter-x: 0px !important;
}

.herosection {
    background-color: var(--blue);
}

.herosection h1 {
    font-family: var(--rubik-one);
    font-size: clamp(1rem, -5.25rem + 20vw, 5.5rem);
}

.herosection h1:nth-of-type(1) {
    color: var(--violet);
}

.herosection h1:nth-of-type(2) {
    color: var(--hotpink);
}

.hero-left-brand-image img:nth-of-type(1) {
    width: 90%;
}


.mainlogo img {
    width: 10%;
}

.hero-left-brand-image img:nth-of-type(2) {
    position: relative;
    right: 14%;
    bottom: 60px;
    width: 30%;
}

.hero-right-brand-image img {
    width: 35rem;
}

.sidemenu {
    border-left: 3px solid var(--hotpink);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidemenu img {
    width: 40%;
}


.sidenavbar {
    width: 100%;
    height: 100vh;
    background-color: var(--hotpink);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(1.25rem, -2.1875rem + 11vw, 4rem);
    font-weight: 600;
    color: whitesmoke;
    font-family: var(--kanit);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    visibility: hidden;
}

.showsidenavbar {
    visibility: visible;
    position: fixed;
}



.sidenavbar a {
    color: whitesmoke;
    text-decoration: none;
    display: inline;
}

.sidenavbar a:hover {
    text-decoration: underline;
}

.unleash {
    position: relative;
}

.unleash h1 {
    font-family: var(--kanit);
    color: #4A0292 !important;
    font-weight: 600;
    font-style: italic;
    font-size: 50px;
    line-height: 71.5px;
    text-align: center;
}

.arrow-loop {
    position: inherit;
    left: 50%;
    transform: rotate(-30deg) translate(-20%, -70%);
    width: 10rem;
    z-index: 999;
}

#brandpower {
    position: relative;
    z-index: 1;
}

#brandpower:before {
    position: absolute;
    content: url(https://s3-alpha-sig.figma.com/img/359c/ebfd/83e6c2470bb11ba29b5cc9f18c8afe43?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c83wX9KLBAUrHejgiQt5OrQoQCQBRrYoZ6ZYGOB-kF6Rs9YGRLuLUs94nyVC~iSEa643AlYMsS0QpNlVkZEDfK9P6tMnyTdqCyd2gl9lHFJsevgKwf1IP3JL7oieEEAa30nYMEoeX7sgUkfEUyXDp38fxhtcIOs8uPqEDj2dzc~XOyUi0-SkDfzsBdTkGmRikhlLWecgireGfhJz0qDPcrpU~PKhq02bGFxy6MA4X3bIH3skopI-UCvkC19wCbliknJy6tRyP2RLQ3pSLhLqe9Iwo3yH6cn5-eFd17wVKSytUo~609eR2dp5-1gCrVDClN9N-VluemfB2JvTJwbEsA__);
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: -10;
}

.textmarquee {
    width: 100%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: var(--blue);
    font-family: var(--kanit);
    font-weight: 700;
    text-align: center;
    font-style: italic;
    font-size: clamp(1rem, -0.5625rem + 5vw, 2.25rem);
    padding: 10px 0px;
    overflow-x: hidden;
}

.textmarquee div {
    width: 130vw;
    animation: marquee 3s infinite linear;
}

.textmarquee p {
    margin-bottom: 0;
}


.textmarquee>div p:nth-of-type(odd) {
    color: var(--purple);
}

.textmarquee>div p:nth-of-type(even) {
    color: var(--violet);
}

.textmarquee>div p:nth-of-type(3) {
    color: var(--hotpink);
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    50% {
        transform: translateX(-5%);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-5%);
    }
}

.campaign-ideas {
    position: relative;
    background-color: var(--hotpink);
    /* padding: 20px 0px; */
}

.campaign-ideas div {
    padding: 20px;
}

.campaign-ideas h1 {
    color: var(--violet);
    font-size: clamp(1.25rem, -2.6563rem + 12.5vw, 4.375rem);
    z-index: 2;
}

.campaign-ideas h1::before {
    position: absolute;
    content: "CAMPAIGN IDEAS";
    font-family: var(--rubik-one);
    font-size: clamp(1.25rem, -2.6563rem + 12.5vw, 4.375rem);
    color: whitesmoke;
    left: 50%;
    transform: translate(-51%, -0.3rem);
    z-index: 1;
    width: 100%;
}

.campaign-ideas h2 {
    font-family: var(--kanit);
    color: #91D300;
    font-size: clamp(1.1875rem, -1.2344rem + 7.75vw, 3.125rem);
}

.know-btn {
    background-color: #F3CB3B;
    font-family: var(--kanit);
    font-weight: 500;
    font-size: clamp(1.1875rem, -1.0781rem + 7.25vw, 3rem);
    border-radius: 15px;
    padding: 0px 50px;
    border: 0px;
}

.metric-measures {
    background-color: #F2DAFB;
    overflow-x: hidden;
}

.metric-measures h2 {
    position: relative;
    color: var(--purple);
    font-family: var(--rubik-one);
    font-weight: 400;
    font-size: clamp(1.25rem, -2.1875rem + 11vw, 4rem);
    line-height: 91.52px;
    letter-spacing: 4%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    z-index: 3;
    width: 100%;
}

.metric-measures h2::before {
    position: absolute;
    content: "METRIC MEASURES";
    color: black;
    left: 0px;
    top: 10px;
    bottom: 0;
    right: 2px;
    z-index: -1;
    width: 100%;
}

.createcampaign {
    background-color: #F3CB3B;
    overflow: hidden;
}

.createcampaign h1 {
    position: relative;
    color: #2F42DC;
    font-family: var(--rubik-one);
    font-weight: 400;
    font-size: clamp(1.25rem, -2.1875rem + 11vw, 4rem);
    line-height: 91.52px;
    letter-spacing: 4%;
    text-align: center;
    z-index: 3;
}

.createcampaign h1::before {
    position: absolute;
    content: "CREATE CAMPAIGN";
    color: whitesmoke;
    left: 5px;
    top: 5px;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.createcampaign img {
    object-fit: contain;
}

.createcampaign img:nth-of-type(1) {
    width: 25%;
}

.createcampaign img:nth-of-type(2) {
    width: 30%;
}

#rollergif {
    width: 20%;
}

.campaignselection {
    background-color: #4700FF;
    overflow: hidden;
}

.nav-tabs {
    position: relative;
    border-bottom: 0px !important;
    display: flex;
    /* justify-content: center; */
    align-items: start;
    flex-direction: column;
}

.nav-item a {
    font-family: var(--kanit);
    color: rgb(216, 216, 216) !important;
    font-weight: 600;
    font-size: clamp(1.1875rem, 0.7188rem + 1.5vw, 1.5625rem);
    border: none !important;
}

.nav-item:hover,
.nav-item:focus {
    border: 0px !important;
}

.nav-item .active {
    background-color: transparent !important;
    border: none !important;
    color: white !important;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    row-gap: 80px;
    column-gap: -100px;
}

input[type=checkbox]:checked~.campaign-type {
    border: 5px solid black;
}

.checkbox-container .tile {
    padding: 20px;
    background-color: #AA98D5;
    border-radius: 30px;
    width: 166px;
    height: 166px;
    cursor: pointer;
}

.checkbox-container .tile label {
    text-align: center;
}

.checkbox-container img {
    width: 100%;
    object-fit: cover;
}

.checkbox-container h1 {
    font-family: var(--kanit);
    font-size: 24px;
}

.bottomnav {
    width: 100%;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-5%, 390%);
}

.tab-pane p {
    font-family: var(--kanit);
    font-size: 1.7rem;
    text-align: center;
}


label {
    font-family: var(--kanit);
    font-weight: 500;
    font-size: 24px;
}

.contactform input,
textarea {
    border: 3px solid var(--violet);
}

footer {
    font-family: var(--kanit);
    font-weight: 400;
    font-size: 1.4rem;
    padding: 20px 30px !important;
}

li {
    list-style: none;
    font-size: 2rem;
}

.footerinfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

address {
    width: 25%;
}

.footerinfo img {
    width: 15%;
}

body {
    overflow-x: hidden !important;
}

.campaignNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 100px; */
}


.campaignNav h1 {
    font-size: 5rem;
    text-align: center;
    font-family: var(--rubik-one);
    color: var(--hotpink);
}

.idea h2 {
    font-family: var(--kanit);
    font-weight: 700;
    font-size: 3rem;
    color: var(--violet);
}

.idea p {
    font-size: 1.3rem;
    text-align: justify;
    font-weight: 300;
    font-family: var(--kanit);
}

.idea img {
    width: 80%;
}

.campaignNav img {
    width: 20%;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0px;
}



@media screen and (max-width:767px) {

    .footerinfo {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footerinfo img {
        width: 55%;
    }

    address {
        width: 100%;
    }

    .checkbox-container {
        grid-template-columns: 1fr 1fr;
    }

    .mainlogo img {
        width: 30%;
    }

    .herosection h1 {
        font-size: 2.5rem !important;
    }

    .hero-right-brand-image img {
        width: 25rem;
    }

    .unleash h1 {
        margin-top: 30px;
        font-size: 24px;
        line-height: 100%;
    }

    .sidemenu img {
        border: none;
        position: absolute !important;
        left: 120px;
        top: 2%;
        left: 80%;
        overflow: hidden;
        width: 14%;
    }

    .sidemenu img {

        /* margin-top: 5%; */
    }

    #brandpower:before {
        content: "";
    }

    .hero-left-brand-image img:nth-of-type(2) {
        right: 21%;
    }

    .textmarquee div {
        width: 260vw;
    }

    .textmarquee p {
        margin: 0px 10px;
    }

    .box {
        flex-direction: column;
    }

    .campaignNav {
        padding: 20px;
    }

    .campaignNav h1 {
        font-size: 2.3rem;
    }

    .box:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .campaignNav {
        flex-direction: column;
    }

    .campaignNav img {
        width: 50%;
    }

    .metric-measures h2 {
        writing-mode: horizontal-tb;
        transform: rotate(0deg) !important;
        /* writing-mode: vertical-rl;
        transform: rotate(180deg); */
    }

    footer li{
        font-size:1.3rem;
}
